ul#pv_id_1_list {
  margin: auto;
}

.nav {
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
  background-color: rgba(20, 20, 20, 0.4);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  position: sticky !important;
  z-index: 1000;

  width: 100%;
  top: 0;
  div#pv_id_1 {
    width: 100%;
  }
  .p-megamenu {
    background-color: transparent !important;
    border: 0  !important;
  }
.link {
    color: white;
    text-decoration: none;
    font-family: "regular";
    border-radius: unset !important;
    padding: 0 1rem !important;
  }
  a.active.link {
    border-bottom: 3px solid greenyellow;
    border-radius: unset !important;
    background-color: transparent !important;
    padding: 0 1rem !important;
  }
  .p-megamenu.p-megamenu-horizontal
    .p-megamenu-root-list
    > .p-menuitem:not(.p-highlight):not(.p-disabled)
    > .p-menuitem-content:hover {
    background-color: transparent !important;
  }
  .p-megamenu .p-menuitem.p-highlight > .p-menuitem-content {
    background-color: unset !important;
  }
}
